<div *ngIf="!round.closed" class="prompt">
    <span *ngIf="!round.nextRound; else: quest">
        Escoge lo que quieras
    </span>
    <ng-template #quest>
        Escoge la forma correcta
    </ng-template>
</div>
<div *ngIf="round && (!round.closed || round.nextRound); else: waiting">
    <div *ngIf="round.closed"
         class="iscorrect"
         [class.correct]="choice == round.correctOpt">
        {{choice == round.correctOpt ? 'Correcto!' : 'Incorrecto :('}}
    </div>
    <div *ngFor="let opt of round.options"
         class="choice"
         [class.selected]="optIndex(opt) == choice"
         [class.disabled]="round.closed"
         (click)="chooseOpt(opt)">
        {{parseText(opt.text)}}
    </div>
</div>
<ng-template #waiting></ng-template>