.choice:not(.disabled) {
    cursor: pointer;
}

.choice.disabled {
    cursor: default;
}

.choice.selected {
    background: green;
}

.choice:not(.selected):not(.disabled):hover {
    background: blue;
}